version: '3.3'

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    depends_on:
      - postgre-db
    environment:
      - db_host=postgre-db

  postgre-db:
      image: postgres:latest
      environment:
        POSTGRES_DB: echo_db
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      ports:
        - "5432:5432"
      volumes:
        - db-data:/var/lib/postgresql/data
      restart: unless-stopped

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ../ui/html:/usr/share/nginx/html:ro
      - ../docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: unless-stopped

volumes:
  db-data:
